#landing {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; /* типа немношка криво */
    background: linear-gradient(125deg, #14110f, #221e1a 70%);
    /*url("/static/images/code2.png");*/

    /* linear-gradient(125deg, #1E1C1A 80%, #1e1c1ad3 90%, transparent), */
    /* url('/static/images/grid.png'); */
}
#banner {
    width: 500px;
    margin-bottom: 15px;
}
#landing-buttons {
    gap: 15px;
    display: flex;
}
/*#landing-vizualizer {
    position: absolute;
    top: 70vh;
    left: 0;
    mask-image: linear-gradient(to right, #000, transparent 50%);
    height: 30vh;
}*/

.arrow-bottom {
    rotate: 90deg;
    margin-right: 3px;
}

#pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page {
    border: #fbeadb 1px solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1;
    flex: 0 1 clamp(260px, 24vw, 340px);
}

#graph {
    background:
        linear-gradient(to right, #2c2a2744, #2c2a2744),
        url("/static/images/graph.png");
    background-size: cover;
}

.page-description {
    color: #999;
}

.page button {
    height: min-content;
    align-self: flex-end;
}

/*#ebdi {
    margin-top: 30px;
    background: #2c2a27;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: relative;
    padding-right: 100px;
}
#ebdi * {
    z-index: 2;
}
#ebdi button {
    margin-top: auto;
}
#ebdi::after {
    content: "";
    background: url("/static/images/ebdi-users.png") no-repeat left center;
    background-size: contain;
    position: absolute;
    left: 10px;
    bottom: -50px;
    width: 70%;
    height: 120%;
}*/

@media (max-width: 600px) {
    .page {
        aspect-ratio: auto;
    }
    #pages {
        flex-direction: column;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* grid-template-columns: repeat(5, calc(90vw / 5)); */
    gap: 15px 15px;
}

#analogs-description {
    margin-top: -15px;
    margin-bottom: 8px;
}

/* https://codepen.io/maccc/pen/WNYvqPE */
#history {
    display: flex;
}

#history-line {
    position: relative;
    height: 100%;
    padding: 10px 0;
}

.history-event {
    position: relative;
    height: 60px;
}

.history-event-circle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #fbeadb;
    border: 3px solid #fd7f08;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.history-event-circle::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 60px;
    width: 3px;
    background-color: #c98f65;
    transform: translateX(-50%);
}

.history-event-content {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.history-event-date {
    color: #ccc;
    margin-right: 15px;
}
.history-event-label {
    display: block;
    min-width: 90vw;
}

.history-event:last-child .history-event-circle::after {
    mask-image: linear-gradient(to bottom, #000, transparent 20%);
}

#history-etc {
    color: #888;
    font-style: oblique 20deg;
}

@media (max-width: 700px) {
    #banner {
        width: 300px;
    }
    .history-event-circle::after,
    .history-event {
        height: 120px;
    }
}

#star-history {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
#star-history a picture img {
    max-width: 90vw;
}
