* {
    box-sizing: border-box;
    color: #fbeadb;
    font-family: "Jost";
    line-height: normal;
}

*[hidden] {
    display: none !important;
}

body {
    margin: 0;
    background-color: #1e1c1a;
    overflow-x: hidden;
    max-width: 100%;
}

html {
    overflow-x: hidden;
    max-width: 100%;
}

/* spizheno from textualize.io */
button {
    cursor: pointer;
    padding: 10px 20px;
    width: max-content;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    background-color: #3e3b37;
    color: #fff;
    border: none;
    /*border-radius: 0 16px 0 16px;*/

    position: relative;
    isolation: isolate;
    transition: color 240ms;
}

button::after {
    content: " ";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #ec5e1c;
    scale: 0 1;
    transform-origin: right;
    transition: scale 240ms;
}

button:hover::after {
    transform-origin: left;
    scale: 1;
}

button.primary {
    background-color: #ed6a2d;
    /*border-radius: 16px 16px 0 16px;*/
    box-shadow: 13px 8px 1px -3px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s;
}
button.primary:hover {
    box-shadow: 18px 12px 1px -3px rgba(255, 255, 255, 0.15);
}
button.primary::after {
    background-color: #c94d14;
}

/*button:hover {
    background-color: #ec5e1c;
}*/

button:active {
    background-color: #bc4d19;
}

button:disabled {
    background-color: #666;
    cursor: default;
}

h2 {
    color: #ff854d;
    font-size: 29px;
    text-align: center;
    font-weight: 200;
}

h3 {
    color: #ff854d;
    font-size: 23px;
    font-weight: 200;
    margin: 0;
}

h4 {
    color: #ff854d;
    font-size: 17px;
    font-weight: 200;
}

a,
a * {
    color: #ff854d;
    text-decoration: none;
    transition: color 0.25s ease;
}

a:hover,
a:hover * {
    color: #eb5e1b !important;
}

a:active,
a:active * {
    color: #bc4d19 !important;
}

blockquote {
    color: #ddd;
    padding: 16px;
    margin: 16px;
    border-left: solid 3px #ff854d;
}

hr {
    width: 95%;
    border: #666 solid 1px;
    margin: 15px auto;
}

textarea {
    resize: none;
}

td:not(:last-child) {
    padding-right: 8px;
    border-right: #aaa solid 1px;
}
td:not(:first-child) {
    padding-left: 8px;
}

b,
strong {
    font-weight: 500;
}

input[type="text"],
input[type="search"] {
    background-color: #2c2a27;
    color: #fff;
    border: #494037 1px solid;
    padding: 8px 12px;
    font-size: 14px;
}
input[type="text"]:focus-visible,
input[type="search"]:focus-visible {
    outline: none;
    border: #eb5e1b 1px solid;
}

input[type="checkbox"] {
    flex-shrink: 0;
    box-sizing: content-box;
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background: #141414;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
}

input[type="checkbox"]:focus-visible {
    outline: none;
}

input[type="checkbox"]:checked {
    background-color: #eb5e1b;
    border-color: transparent;
}

/* optional checkmark */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 7px;

    border-right: 2px solid #141414;
    border-bottom: 2px solid #141414;
    transform: translate(-50%, -60%) rotate(45deg);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #bbb;
    /*border-radius: 50%;*/
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        background 0.2s ease,
        border 0.2s ease;
}
input[type="radio"]:disabled {
    border-color: #999 !important;
}
input[type="radio"]:disabled:checked::before {
    background-color: #999 !important;
}

input[type="radio"]:focus-visible {
    outline: none;
}

input[type="radio"]::before {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;

    /*border-radius: 50%;*/
    background: transparent;
    transition: background 0.2s ease;
}

input[type="radio"]:checked {
    border: 1px solid #ec5e1c;
    background: #eee;
}

input[type="radio"]:checked::before {
    background: #ec5e1c !important;
}

img {
    user-select: none;
}

.success {
    color: #88b369;
}
.warning {
    color: #e3b341;
}
.error {
    color: #e05340;
}

.center-icon {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

#header {
    height: 86px;
    width: 100vw;
    padding: 0 20px;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    background-color: #171616;

    position: absolute;
    z-index: 3;
}

#header-logo,
#footer-logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
#header-logo {
    height: 50px;
    margin-right: 50px;
}
#footer-logo {
    height: 100px;
}

#header-tabs {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.header-tab {
    color: #fff;
    font-size: 16.9px;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 27px;
    text-decoration: none !important;
}

#footer {
    padding: 30px;
    border-top: solid 1px #292929;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-right: 5%;
    gap: 12px;
    cursor: pointer;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10%;
}

.footer-section-title {
    font-size: 15.2px;
    font-weight: bold;
}

.footer-section-values {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
}

#content {
    padding: 0 20px;
}
