#content {
  display: flex;
  flex-direction: row;
}

#infoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#infoblock img {
  border-radius: 8px;
}
#infoblock div {
  font-style: italic;
  color: #888;
  font-size: 13px;
  text-align: center;
}
#infoblock table {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 8px;
  background-color: #282828;
}