{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/wiki.css">
{% endblock %}

{% block content %}
<h2>ITD-love</h2>
<div id="content">
    <div id="content-text">
        <p>Телеграм & ИТД бот для знакомств. Пользователь запоняет анекту в телеграм боте, и после одобрения она отправляет в ИТД, где ее можно лайкнуть и написать в комментарии для связи. Все анкеты отправляются на аккаунт <a href="https://итд.com/@loving">@loving</a>, а анкету можно было создать в телеграм боте <a href="https://t.me/Itd_lovebot">@Itd_lovebot</a>.</p>
<blockquote>Привет. Это бот для анкет в ИТД. Скидывай информацию, а после проверки бота и одобрения заявки отслеживай комментарии под своей анкетой в аккаунте @loving. Если кто-то понравится — пиши ему, копируя ник или просто попросив юзернейм.<br>
Одобрение или отклонение анкеты придёт тебе в сообщении в течение 24 часов.<br>
Пожалуйста, указывай реальную информацию :)<br>
Желаем найти свою любовь 🦎💚<br><br>
Формат анкеты (просто отправь в чат):<br>
1. Имя<br>
2. Возраст<br>
3. О себе<br>
4. Город (необязательно)<br>
И не забудь добавить свое фото (только одно)!<br></blockquote>
        <p>Однако когда бот был доделан, владелец аккаунта не хотел давать от него данные (чтобы можно было постить анкеты) <i>(Не знаю почему, может боялся)</i>. Так что теперь ненужный проект пылится на <a href="https://github.com/itd-sdk/love">гитхабе.</a></p>
    </div>
    <div id="infoblock">
        <img src="/static/images/project-logos/love.png" alt="logo">
        <div>Неоф.лого, я его вообще щас сам нарисовал просто чтобы было</div>
        <table>
            <tr>
                <td>Статус</td>
                <td class="error">Заброшен</td>
            </tr>
            <tr>
                <td>Исходный код</td>
                <td class="center-icon"><img src="/static/icons/github.svg" alt="gh"><a href="https://github.com/itd-sdk/love">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}