{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/ebdi/graph.css">
<script type="module" src="/static/js/ebdi/graph.js"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="graph-wrap">
    <div id="graph-loading">
        <div id="graph-loading-container">
            <span id="graph-loading-text">Загрузка библиотек...</span>
            <div id="graph-progress-bar"><div id="graph-progress-fill"></div></div>
        </div>
    </div>
    <div id="graph-canvas"></div>
    <div id="graph-tooltip" hidden></div>
    <div id="graph-other" hidden>
        <div id="graph-edges-container">
            <input type="checkbox" id="graph-edges">
            <label for="graph-edges">связи</label>
        </div>
        <div id="graph-stats" title="Показываются не все пользователи из базы, а только те, у когго есть хотя бы один подписчик\подписка"></div>
    </div>
    <a id="graph-logo" href="/ebdi"><img src="/static/images/ebdi.png" alt="logo"></a>

    <div id="graph-search" hidden>
        <input id="graph-search-input" type="text" placeholder="Поиск" autocomplete="off">
        <div id="graph-search-results" hidden></div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
