{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/ebdi/style.css">
<link rel="stylesheet" href="/static/css/ebdi/users.css">
<script src="/static/js/ebdi/users.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1/index.js"></script>
<meta name="description" content="Единая База Данных ИТД: Ранкинг, топ пользователей, поиск, сортировка">
<meta name="keywords" content="itd, itd-sdk, итд, итд ранкинг, ебди, итд пользователи, новки, илья новки, nowkie">
{% endblock %}

{% block content %}
<div id="landing">
    <img id="banner" src="/static/images/ebdi.png">
    <div id="landing-description">Единая База Данных ИТД</div>
</div>

<div id="content">
    <div id="feedback">
        <img src="/static/icons/vote.svg">
        <div id="feedback-content">
            <div id="feedback-title">Обратная связь</div>
            <div id="feedback-description">Предложите идеи для ЕБДИ или сообщите о баге.</div>
        </div>
        <button onclick="location.href='https://github.com/itd-sdk/website/issues/new'">Перейти <img src="/static/icons/arrow.svg"></button>
    </div>
    <nav id="tabs">
        <a href="/ebdi/users" class="tab tab-active">Пользователи</a>
        <a href="/ebdi/clans" class="tab">Кланы</a>
        <a href="/ebdi/stats" class="tab">Статистика</a>
        <!--<a href="/ebdi/posts" class="tab">Посты</a>-->
        <!--<a href="/ebdi/hashtags" class="tab">Хэштэги</a>-->
        <!--<a href="/ebdi/stats" class="tab">Статистика</a>-->
    </nav>

    <h2>Пользователи ИТД</h2>

    <div id="total-objects" hidden>Всего в базе данных <span id="total-objects-value">0</span> пользователей</div>

    <div id="controls-box">
        <div id="controls">
            <div id="filters">
                <div class="filter-group">
                    <label><input type="radio" name="verified" value="" checked>Все</label>
                    <label><input type="radio" name="verified" value="true">Верифицированные</label>
                    <label><input type="radio" name="verified" value="false">Неверифицированные</label>
                </div>
                <div class="filter-group">
                    <label><input type="radio" name="has_itdp" value="" checked>Все</label>
                    <label><input type="radio" name="has_itdp" value="true">С ИТД+</label>
                    <label><input type="radio" name="has_itdp" value="false">Без ИТД+</label>
                </div>
            </div>
            <label id="deleted-toggle">
                <input type="checkbox" id="deleted-checkbox"><span>Показывать удалённых пользователей</span>
            </label>
            <div id="clan-box">
                <button id="clan-button">
                    <div id="clan-text">Клан: -</div>
                    <img src="/static/icons/arrow.svg">
                </button>
                <div id="clan-picker" hidden>
                    <emoji-picker
                        class="dark"
                        locale="ru"
                        emoji-version="17.0"
                        data-source="https://cdn.jsdelivr.net/npm/emoji-picker-element-data@1/ru/cldr/data.json"
                    ></emoji-picker>
                </div>
                <img src="/static/icons/close.svg" id="clan-remove" hidden>
            </div>
            <div id="search-box">
                <div id="search-input-box">
                    <img id="search-icon" src="/static/icons/search.svg">
                    <input id="search-input" type="search" placeholder="Поиск пользователя" autocomplete="off">
                </div>
                <div id="search-candidates" hidden></div>
            </div>
        </div>
    </div>


    <div id="rows">
        <div class="row" id="rows-header">
            <div class="row-left"></div>
            <div class="row-right">
                <div class="user-followers row-sortable" data-order="followers_count">
                    <b>Подписчики</b><img class="sort-arrow">
                </div>
                <div class="user-following row-sortable" data-order="following_count">
                    <b>Подписки</b><img class="sort-arrow">
                </div>
                <div class="user-posts row-sortable" data-order="posts_count">
                    <b>Посты</b><img class="sort-arrow">
                </div>
                <div class="user-created-at row-sortable" data-order="created_at">
                    <b>Дата регистрации</b><img class="sort-arrow">
                </div>
            </div>
        </div>
        <div id="sentinel-top" class="sentinel"></div>
        <div class="row" id="user-template">
            <div class="row-left">
                <div class="row-place">1.</div>
                <div class="row-avatar">✅</div>
                <div class="user-name">
                    <a class="user-display-name" target="_blank">Загрузка...</a>
                    <div class="user-username">@loading</div>
                </div>
            </div>
            <div class="row-right">
                <div class="user-followers">123</div>
                <div class="user-following">67</div>
                <div class="user-posts">100</div>
                <div class="user-created-at">17 мая 2026</div>
            </div>
        </div>
        <div id="list-empty" hidden>Ничего не найдено</div>
            <div id="list-error" hidden>
                <div id="error-text"></div>
                <button id="retry-button">Попробовать снова</button>
            </div>
            <div class="row" id="list-loader" hidden>
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div id="sentinel-bottom" class="sentinel"></div>
    <!--<div id="note">Лицензировано под <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></div>-->
</div>
{% endblock %}
