{% extends "base.html" %}

{% block content %}
<div id="content" style="display: flex; height: 100vh">
    <div style="margin: auto; display: flex; align-items: center; flex-direction: column; gap: 5px;">
        <h2>Страница не найдена</h2>
        <div>Здесь пока ничего нету... Если хотите сюда что-нибудь добавить, откройте Pull Request на <a href="https://github.com/itd-sdk/website/pulls">itd-sdk/website</a></div>
        <button onclick="location.href='/'" class="primary"><img src="/static/icons/arrow.svg" style="rotate: 180deg;">Главная</button>
    </div>
</div>
{% endblock %}